**/dist
**/lib
node_modules
/lib/typings
.eslintrc.js
/example
/test/.build
/test/CMakeFiles
/packages/runtime/lib
/packages/emnapi/lib
/packages/core/src/module.js
/packages/**/test/**/input
/packages/**/test/**/actual
/packages/**/test/**/expected
/packages/**/test/**/rollup/src
/out
